workflows/W2_ai-enrichment.json
[
  {
    "updatedAt": "2026-04-08T06:51:45.188Z",
    "createdAt": "2026-04-08T05:37:07.078Z",
    "id": "rSzES0NNMAq7nbsb",
    "name": "W2_ai-enrichment",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "jsCode": "const lead = $input.first().json;\n\nconst prompt = `You are a lead-scoring assistant. Analyse the following B2B lead and respond in JSON only.\n\nLead:\n  Email: ${lead.email}\n  Company: ${lead.company || 'Unknown'}\n  Message: ${lead.message}\n  Source: ${lead.source}\n\nReturn a JSON object with exactly these fields:\n  score (integer 0-100, based on buying signals and company size)\n  intent (one of: \"evaluate\", \"buy\", \"browse\", \"support\", \"unknown\")\n  company_size (one of: \"enterprise\", \"mid-market\", \"smb\", \"individual\", \"unknown\")\n  summary (one sentence, max 20 words, describing why this score was assigned)\n\nRespond with valid JSON only. No explanation outside the JSON block.`;\n\nreturn [{\n  json: {\n    ...lead,\n    prompt: prompt\n  }\n}];"
        },
        "id": "00a70178-eee5-4aa8-bf32-216ae635a178",
        "name": "Build AI Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json;\n\nlet rawText = '';\ntry {\n  rawText = response.text.trim();\n} catch (e) {\n  return [{ json: { score: 0, intent: 'unknown', company_size: 'unknown', summary: 'AI call failed', error: true } }];\n}\n\nconst cleaned = rawText.replace(/```json|```/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  return [{ json: { score: 0, intent: 'unknown', company_size: 'unknown', summary: 'Failed to parse AI response', error: true } }];\n}\n\nconst score = Math.min(100, Math.max(0, parseInt(parsed.score) || 0));\nconst intent = ['evaluate','buy','browse','support','unknown'].includes(parsed.intent) ? parsed.intent : 'unknown';\nconst company_size = ['enterprise','mid-market','smb','individual','unknown'].includes(parsed.company_size) ? parsed.company_size : 'unknown';\nconst summary = (parsed.summary || '').substring(0, 200);\n\nreturn [{ json: { score, intent, company_size, summary } }];"
        },
        "id": "ba98bede-49d6-42af-bb4d-f54b7277f6bc",
        "name": "Parse AI Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { score: 0, intent: 'unknown', company_size: 'unknown', summary: 'AI enrichment unavailable', error: true } }];"
        },
        "id": "81581047-e43e-44b8-b75a-37e0ec180b12",
        "name": "AI Error Fallback",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          752,
          176
        ]
      },
      {
        "parameters": {},
        "id": "11ad40d3-3201-4f3d-97a2-2062bf490637",
        "name": "Receive Lead Data",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=={{ $json.prompt }}",
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          432,
          0
        ],
        "id": "77fcbbaf-e124-4076-b566-25970bc32a57",
        "name": "Basic LLM Chain",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "model": "gpt-5.1",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
        "typeVersion": 1,
        "position": [
          368,
          208
        ],
        "id": "9c4b8965-5e92-4cd7-90a3-f2932c7028f8",
        "name": "Azure OpenAI Chat Model",
        "credentials": {
          "azureOpenAiApi": {
            "id": "4RwiJiM12IodxeIB",
            "name": "Azure Open AI account"
          }
        }
      }
    ],
    "connections": {
      "Build AI Prompt": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Receive Lead Data": {
        "main": [
          [
            {
              "node": "Build AI Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Parse AI Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Error Fallback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Azure OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "1d03379a-ceb3-42cc-8fa3-743e793797da",
    "activeVersionId": "1d03379a-ceb3-42cc-8fa3-743e793797da",
    "versionCounter": 30,
    "triggerCount": 0,
    "tags": [
      {
        "updatedAt": "2026-04-08T05:36:28.668Z",
        "createdAt": "2026-04-08T05:36:28.668Z",
        "id": "fJatYNQ4gbwmkfoF",
        "name": "leadforge"
      }
    ],
    "shared": [
      {
        "updatedAt": "2026-04-08T05:37:07.101Z",
        "createdAt": "2026-04-08T05:37:07.101Z",
        "role": "workflow:owner",
        "workflowId": "rSzES0NNMAq7nbsb",
        "projectId": "EH6WgV2QBOkvmvKM",
        "project": {
          "updatedAt": "2026-03-25T11:48:43.675Z",
          "createdAt": "2026-03-25T11:47:36.470Z",
          "id": "EH6WgV2QBOkvmvKM",
          "name": "Jaswanth Reddy <bodlapati.reddy@firstsource.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "0166b6c7-9172-4b81-a2ad-22195b40d69f"
        }
      }
    ],
    "versionMetadata": {
      "name": "Version 1d03379a",
      "description": ""
    }
  }
]